@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/ayat-quran-1");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: "uthmani";
     src: url("./assets/KfgqpcHafsUthmanicScriptRegular-1jGEe.ttf");
}

html {
     @apply text-slate-800;
}
html body {
     @apply text-slate-800;
}
html body ul {
     @apply text-teal-800;
}

html body header {
     @apply bg-white;
}

html.dark body header {
     @apply bg-slate-950;
}

html.dark {
     @apply bg-slate-950 text-white;
}

html.dark body {
     @apply bg-slate-950 text-white;
}

html.dark body ul {
     @apply bg-slate-950 text-white;
}

html.dark body input {
     @apply text-slate-950;
}

html body #terakhirBaca {
     @apply bg-teal-900 text-white rounded-sm;
}

html.dark body #terakhirBaca {
     @apply bg-black border border-slate-400 rounded-sm;
}

html body header #navigation,
html body header button {
     @apply text-teal-800;
}

html.dark body header #navigation,
html.dark body header button {
     @apply text-white;
}

body {
     transition: background-color 0.3s ease, color 0.3s ease;
}
